<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KIOSK</title>
    <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body>
    <main>
      <aside>
        <a href="?index={{prevIndex}}"><button>PREV</button></a>
        <a href="?index={{nextIndex}}"><button>NEXT</button></a>
      </aside>
      <div class="player-container">
        <div class="player-container-row">
          <div
            class="media"
            {{#if image }}style="background-image: url(/media/{{mediaSrc}});"{{/if}}
          >
            {{#if video}}
              <video autoplay loop muted>
                <source src="/media/{{mediaSrc}}" type="video/mp4" />
              </video>
            {{/if}}
          </div>
        </div>
        <div class="player-container-row">
          <div
            class="media"
            {{#if image }}style="background-image: url(/media/{{mediaSrc}});"{{/if}}
          >
          {{#if video}}
              <video autoplay loop muted>
                <source src="/media/{{mediaSrc}}" type="video/mp4" />
              </video>
            {{/if}}
            </div>
          <div
            class="media"
            {{#if image }}style="background-image: url(/media/{{mediaSrc}});"{{/if}}
          >
          {{#if video}}
              <video autoplay loop muted>
                <source src="/media/{{mediaSrc}}" type="video/mp4" />
              </video>
            {{/if}}</div>
        </div>
        <div class="player-container-row">
          <div
            class="media"
            {{#if image }}style="background-image: url(/media/{{mediaSrc}});"{{/if}}
          >
          {{#if video}}
              <video autoplay loop muted>
                <source src="/media/{{mediaSrc}}" type="video/mp4" />
              </video>
            {{/if}}</div>
        </div>
      </div>
    </main>

  </body>

</html>